body {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Menlo, Consolas, "Liberation Mono", Monaco, "Lucida Console",
    monospace;
}

.wrap {
  padding: 4px;
  max-width: 600px;
  border: 1px #e0e0e0 solid;
  overflow: auto;
  transition-property: box-shadow;
  transition-duration: 300ms;
  transition-timing-function: ease;
}

.wrap:focus-within {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08), 0 8px 8px rgba(0, 0, 0, 0.08),
    0 16px 16px rgba(0, 0, 0, 0.08), 0 32px 32px rgba(0, 0, 0, 0.08);
}

code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  font-family: inherit;
}

li {
  margin-bottom: 1em;
}
