body {
  font-family: monospace;
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wrap {
  padding: 4px;
  width: 600px;
  max-height: 400px;
  border: 1px #e0e0e0 solid;
  overflow: auto;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08), 0 8px 8px rgba(0, 0, 0, 0.08),
    0 16px 16px rgba(0, 0, 0, 0.08), 0 32px 32px rgba(0, 0, 0, 0.08);
}
